asgiref==3.3.1
Babel==2.8.0
django-3-jet==1.0.8
Django==3.1.4
djangorestframework==3.12.2
django-phonenumber-field==3.0.1
django-widget-tweaks==1.4.5
google-api-python-client==1.12.8
gunicorn==20.0.4
Markdown==3.2.1
phonenumbers==8.10.21
Pillow==7.1.2
psycopg2-binary==2.8.5
python-decouple==3.3
pytz==2020.4
sqlparse==0.4.1
