{% extends '../base_account.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
{% if validlink %}
    {% trans "Change password for " %} {{ form.user.email }}
{% else %}
    {% trans "Reset your password" %}
{% endif %}
{% endblock %}

{% block nav_bar %}{% endblock %}

{% block content %}

<div class="regist-cover"></div>

<a href="{% url 'frontend:index' %}">
    <img src="{% static 'img/logo.png' %}"/>
</a>

{% if LANGUAGE_CODE == "ar" %}
<form class="text-center border border-light p-2 form_signin"method="post" novalidate dir="rtl">
{% else %}
<form class="text-center border border-light p-2 form_signin"method="post" novalidate dir="ltr">
{% endif %}
    {% if validlink %}
        <h3 class="card-title text-capitalize">{% trans "Change password for " %}{{ form.user.mail }}</h3>
        <form method="post" novalidate>
        {% csrf_token %}
        {% include '../includes/form.html' %}
        <button type="submit" class="btn btn-success btn-block text-capitalize">{% trans "Change password" %}</button>
        </form>
    {% else %}
        <h3 class="card-title text-capitalize">{% trans "Reset your password" %}</h3>
        <p class="text-danger text-capitalize">
        {% trans "It looks like you clicked on an invalid password reset link. Please try again." %}
        </p>
        <a href="{% url 'password_reset' %}" class="btn btn-teal btn-sm m-2 text-capitalize">
        {% trans "Request a new password reset link" %}
        </a>
    {% endif %}
</form>

{% endblock %}