{% extends '../base_account.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block nav_bar %}{% endblock %}

{% block content %}

<div class="regist-cover"></div>

<a href="{% url 'frontend:index' %}">
    <img src="{% static 'img/logo.png' %}"/>
</a>

{% if LANGUAGE_CODE == "ar" %}
<div class="text-center border border-light p-2 form_reset" dir="rtl">
{% else %}
<div class="text-center border border-light p-2 form_reset" dir="ltr">
{% endif %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card">
            <div class="card-body">
            <h3 class="card-title">{% trans "Password changed" %}</h3>
            <div class="text-success text-capitalize" role="alert">
                {% trans "You have successfully changed your password! You may now proceed to log in." %}
            </div>
            <a href="{% url 'frontend:signin' %}" class="btn btn-secondary btn-block text-capitalize">
                {% trans "Return to log in" %}
            </a>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}