{% extends '../base_account.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Reset your password" %}{% endblock %}
{% block nav_bar %}{% endblock %}

{% block content %}

<div class="regist-cover"></div>

<a href="{% url 'frontend:index' %}">
    <img src="{% static 'img/logo.png' %}"/>
</a>

{% if LANGUAGE_CODE == "ar" %}
<div class="text-center border border-light p-2 form_reset pt-5" dir="rtl">
{% else %}
<div class="text-center border border-light p-2 form_reset pt-5" dir="ltr">
{% endif %}
  <p class="text-capitalize">
    {% trans "Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder." %}
  </p>
  <a href="{% url 'frontend:signin' %}" class="btn btn-teal btn-sm m-2 text-capitalize">
    {% trans "Return to log in" %}
  </a>
</div>

{% endblock %}