{% extends '../base_account.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block nav_bar %}{% trans "Reset your password" %}{% endblock %}

{% block content %}

<div class="regist-cover"></div>

<a href="{% url 'frontend:index' %}">
    <img src="{% static 'img/logo.png' %}"/>
</a>

{% if LANGUAGE_CODE == "ar" %}
<form class="text-center border border-light p-2 form_reset" method="post" novalidate dir="rtl">
{% else %}
<form class="text-center border border-light p-2 form_reset" method="post" novalidate dir="ltr">
{% endif %}
    <p class="h5-responsive mb-4">{% trans "Reset your password" %}</p>
    {% csrf_token %}
    <p class="text-capitalize">{% trans "Enter your email address and we will send you a link to reset your password." %}</p>
    {% include '../includes/form.html' %}
    <button class="btn btn-teal btn-sm m-2" type="submit">{% trans "Reset" %}</button>
</form>

{% endblock %}