{% extends '../base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Manage Members" %}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active"><a href="{% url 'home:index' %}">{% trans "Home" %}</a></li>
<li class="breadcrumb-item">{% trans "Manage Members" %}</li>
{% endblock %}

{% block content %}
    <div class="form-inline">
        {% if user.check_is_superuser %}
            <a class="btn btn-primary btn-sm text-capitalize" href="{% url 'accounts:add' %}">
                {% trans "Add Members" %}
            </a>
        {% endif %}

        {% if member_types|length %}
            <select class="browser-default custom-select">
                <option selected value="0">{% trans "View By Users Types" %}</option>
                {% for member_type in member_types %}
                    <option value="{{member_type.id}}">{{member_type.type}}</option>
                {% endfor %}
            </select>
        {% endif %}
        <input class="form-control m-1 col-lg-4 col-7" type="text" placeholder='{% trans "search member" %}'>
        <div disabled class="form-control m-1 col-lg-2 col-4 bg-light text-center" type="text"></div>
    </div>
    <div id="member"></div>
{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(()=>initView())
        $('select').on('click', function() {
            let type = this.value
            if (type != 0){
                $.ajax({
                    url: `api/admin/members/${type}/type/`,
                    method: "get",
                    contentType: "application/json; charset=utf-8",
                    beforeSend: xhr => xhr.setRequestHeader("Authorization", 'Token {{user.get_auth_token}}'),
                    success: (response, statusText, xhr) => drawView(response, xhr),
                });
            }else{initView()}
        })

        $('input').on('keyup', function(){
            $.ajax({
                url: `api/admin/members/search/?search=${this.value}`,
                method: "get",
                contentType: "application/json; charset=utf-8",
                beforeSend: xhr => xhr.setRequestHeader("Authorization", 'Token {{user.get_auth_token}}'),
                success: (response, statusText, xhr) => drawView(response, xhr),
            });
        })

        function drawView(response, xhr){
            if (xhr.status == 200){
                let count = 0;
                let total = response['count']
                $('div.form-control').empty().text(`${(total > 1000000)?
                                                        Number((total/1000000).toFixed(1)) + 'M' : (total > 1000)?
                                                        Number((total/1000).toFixed(1)) + 'K' : total} {% trans "Users" %}`)
                $('#member').empty().append(`<table class="table table-hover w-100 mt-2 table-sm text-center">
                                                <thead class="thead-dark">
                                                    <th class="th">#</th>
                                                    <th class="th">{% trans "Name" %}</th>
                                                    <th class="th">{% trans "Phone" %}</th>
                                                    <th class="th"></th>
                                                    <th class="th"></th>
                                                </thead>
                                                <tbody></tbody>
                                            </table>`)
                response['results'].forEach(member => {
                    let url1 = "{% url 'accounts:edit' 1234 %}".replace('/1234/', `/${member.pk}/`)
                    let url2 = "{% url 'accounts:edit_password' 1234 %}".replace('/1234/', `/${member.pk}/`)
                    let url3 = "{% url 'accounts:delete' 1234 %}".replace('/1234/', `/${member.pk}/`)
                    $('tbody').append(`<tr>
                                        <td>${++count}</td>
                                        <td>${member.name}</td>
                                        <td>${member.phone}</td>
                                        <td>
                                            <a href="${url1}" class="teal-text m-2">
                                                <i class="fa-lg far fa-edit"></i>
                                            </a>

                                            <a href="${url2}" class="amber-text m-2">
                                                <i class="fa-lg fas fa-key"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="${url3}" class="red-text m-2">
                                                <i class="fa-lg far fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>`)
                })

                if(response['count'] > 10){
                    $('#member').append(`<nav aria-label="Page navigation example">
                                            <ul class="pagination pg-blue">
                                                <li class="page-item disabled previous">
                                                    <a class="page-link">{% trans "Previous" %}</a>
                                                </li>
                                                <li class="page-item disabled next">
                                                    <a class="page-link">{% trans "Next" %}</a>
                                                </li>
                                            </ul>
                                        </nav>`)

                    if (response['previous'] !== null){
                        $('.previous').removeClass("disabled")
                        $('.previous').on('click', function(){
                            $.ajax({
                                url: response['previous'],
                                method: "get",
                                contentType: "application/json; charset=utf-8",
                                beforeSend: xhr => xhr.setRequestHeader("Authorization", 'Token {{user.get_auth_token}}'),
                                success: (response, statusText, xhr) => drawView(response, xhr),
                            });
                        })
                    }

                    if (response['next'] !== null){
                        $('.next').removeClass("disabled")
                        $('.next').on('click', function(){
                            $.ajax({
                                url: response['next'],
                                method: "get",
                                contentType: "application/json; charset=utf-8",
                                beforeSend: xhr => xhr.setRequestHeader("Authorization", 'Token {{user.get_auth_token}}'),
                                success: (response, statusText, xhr) => drawView(response, xhr),
                            });
                        })
                    }
                }
            }else{
                $('div.form-control').empty().text('0 Requests')
                $('#member')
                    .empty()
                    .append(`<div class="text-center alert col-8 alert-danger"
                            style="margin:auto;margin-top:4px;font-size:12px;font-weight:bold;" role="alert">
                            {% trans "No Members" %}
                        </div>`);
            }
        }

        function initView(){
            $.ajax({
                url: `api/admin/members/`,
                method: "get",
                contentType: "application/json; charset=utf-8",
                beforeSend: xhr => xhr.setRequestHeader("Authorization", 'Token {{user.get_auth_token}}'),
                success: (response, statusText, xhr) => drawView(response, xhr),
            });
        }
    </script>
{% endblock %}